aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
antlr4-python3-runtime==4.9.3
async-timeout==5.0.1
attrs==24.3.0
av==12.3.0
black==22.12.0
braceexpand==0.1.7
certifi==2024.12.14
cfgv==3.4.0
charset-normalizer==3.4.1
click==8.1.8
decorator==4.4.2
distlib==0.3.9
einops==0.6.1
exceptiongroup==1.2.2
filelock==3.16.1
frozenlist==1.5.0
fsspec==2024.12.0
huggingface-hub==0.27.1
identify==2.6.5
idna==3.10
imageio==2.36.1
imageio-ffmpeg==0.5.1
iniconfig==2.0.0
isort==5.13.2
lightning-utilities==0.11.9
moviepy==1.0.3
multidict==6.1.0
mypy-extensions==1.0.0
nodeenv==1.9.1
numpy==1.26.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
omegaconf==2.3.0
packaging==24.2
pathspec==0.12.1
pillow==11.1.0
platformdirs==4.3.6
pluggy==1.5.0
pre-commit==2.21.0
proglog==0.1.10
propcache==0.2.1
protobuf==6.32.1
pytest==7.4.4
pytorch-lightning==1.9.5
PyYAML==6.0.2
requests==2.32.3
ruff==0.0.292
safetensors==0.5.2
scipy==1.15.1
-e git+https://github.com/Rodyarad/slotcontrast.git@55ec66dc02eeade630805789ef4a6c5df06f21ff#egg=SlotContrast
tensorboardX==2.6.4
timm==0.9.16
tomli==2.2.1
torch==1.13.1
torchmetrics==1.5.2
torchvision==0.14.1
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.3.0
virtualenv==20.28.1
webdataset==0.2.100
yarl==1.18.3
